<h1><%= @restaurant.name %></h1>
<br>
<h4>Total Reviews: <%= @restaurant.reviews.count %><br></h4>
<h4>Average Rating: <%= @restaurant.average_rating %><br></h4>
<br><br><br>

<% @restaurant.reviews.each do |review| %>
  <%= review.user.name %>
  <p>Rating: <%= review.rating %>/5</p>
  <%= review.comment %>
  <br><br><br>
<% end %>
